<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Welcome to soonmine</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 columns center-text intro-text" style="margin-bottom: 50px;">
    Thanks for signing up-you're on your way to getting better gifts! 
  </div>
  <div class="large-centered large-9 columns center-text intro-text" style="margin-bottom: 50px;">
    Now, start adding products to your soonmine list from any online
    <br/>
    store and then share what you want with friends and family. <br/><br/>
    <%= link_to "ADD PRODUCTS", new_product_path, class: "button" %>
  </div>
  
</div>
