<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Contact</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 static-block columns">
    <h2>Heading</h2>
    <p>This is just some example text.This is just some example text.This is just some example text.This is just some example text.This is just some example text.This is just some example text.This is just some example text.This is just some example text.This is just some example text.</p>
    <h2>Heading</h2>
    <p>This is just some example text.</p>
    <h2>Heading</h2>
    <p>This is just some example text.</p>
  </div>
</div>