<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Contact</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 static-block columns">
    <h2>What’s on your mind?</h2>
    <p>
      We can’t wait to hear what you think about soonmine! Whether you have questions or feedback, we are eager to hear about it and help! So please reach out to us via someone@soonmine.com.
    </p>

  </div>
</div>