<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">How it Works</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 columns center-text">
    Getting involved with soonmine couldn't be easier.
    <br/><br/>
    Sign up today and start sharing what you want.
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="circle">
      SIGN UP
    </div>
  </div>

  <div class="large-4 columns">
    <div class="circle">
      SOONMINE
    </div>
  </div>

  <div class="large-4 columns">
    <div class="circle">
      SHARE 
    </div>
  </div>
</div>

<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>

<div class="row">
    <div class="large-4 columns">
    <div class="text-box">
      <p>Sign up to join soonmine via Facebook, Twitter, Google, or email.</p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="text-box">
      <p>Add the soonmine button to your bookmarks to add the products you want from any website.</p>
    </div>
  </div>

  <div class="large-4 columns">
    <div class="text-box">
      <p>Share your soonmine list with friends and family.</p>
    </div>
  </div>
</div>

<!-- Styling  -->