<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">How it Works</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 columns center-text intro-text">
    Getting better gifts is easier than ever.
    <br/>
    Simply click on the icons below to get started.
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">

  <div class="large-4 columns">
    <a href="<%= new_user_registration_path %>" class="circle-wrap">
      <div class="circle">
        SIGN UP
      </div>
    </a>
      <div class="text-box">
        <p>To start adding the gifts you want, click sign up to create a Soonmine account.</p>
      </div>
  </div>

  <div class="large-4 columns">
    <a href="<%= current_user ? new_product_path : new_user_registration_path %>" class="circle-wrap"> 
      <div class="circle">
        SOONMINE
      </div>
    </a>
    <div class="text-box">
      <p>For more information on how to add the gifts you want, click soonmine.</p>
    </div>
  </div>

  <div class="large-4 columns">
   <a href="<%= current_user ? new_reminder_path : new_user_registration_path %>" class="circle-wrap">
    <div class="circle">
      SHARE 
    </div>
    </a>
    <div class="text-box">
      <p>Once you have added gifts to your list, start getting those gifts by clicking share.</p>
    </div>
  </div>
</div>


<!-- Styling  -->