<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Terms of Service</h1>
  </div>
</div>
<div class="row">
  <div class="large-centered large-9 static-block columns">
    <p>
      Hello fans of consideration! We are huge advocates for consideration, and we’re glad you’re taking the time to fully understand the mutual benefits of our relationship! Please read the following Agreement and feel free to reach out to us with any questions or concerns!
    </p>

    <p>
      This Terms of Service Agreement (hereinafter "Agreement") governs any and all use of the product, service, website, application and/or any other utility (hereinafter “Utilities”) owned and operated by Soonmine, LLC (hereinafter “Soonmine”), including but not limited to the website commonly referred to as “Soonmine” and readily available at www.Soonmine.com. This Agreement has been created by and for the sole use of the Soonmine, and Soonmine has caused this Agreement to become effective as of January 1, 2013.
    </p>

    <p>
      This Agreement constitutes the ability of Users to view, access, use, engaging in and/or object to the Utilities, and constitutes a binding legal agreement between any and all Users and Soonmine. 
    </p>

    <p>
      In viewing, accessing, using and/or engaging in the Utilities, you hereby acknowledge that you have read, understood and submit to the binding effect of this Agreement. At any time and at its own discretion, Soonmine may modify, discontinue or terminate the Utilities with or without prior notice.
    </p>

    <p>
      1) Defining the Terms:
      “Soonmine,” “we,” “us,” or “our” refers to the limited liability company which owns each of the products, services, websites, applications, and or any other utilities controlled and maintained by Soonmine, LLC, a Mississippi Limited Liability Company. At times, Soonmine may refer to both the LLC and the Utilities defined below.
      “Utilities” refers to the products, services, websites, applications, and or any other services provided by Soonmine, LLC.
      "Users,” “he,” “she,” “they,” or “you” means one who successfully has completed registration with Soonmine, one who views, searches, or in any way engages with Soonmine or the Utilities, or one who is reading and agreeing to the terms of this Agreement.
      “Use” or “Using” means the act of viewing, accessing, and/or engaging with the Utilities.
      "Content" means text, graphics, images, music, software, audio, video, information or other materials, including the infrastructure used to provide such Content.
      "Soonmine Content" refers to anything that Soonmine allows to be viewed or made available by way of the Utilities or other services including any licensed third party utilities.
      "User-Managed Content" means all content that a User adds, posts, uploads, or submits to the Utilities or other services offered by Soonmine.
      "Site Content" refers to both Soonmine Content and User-Managed Content.
    </p>

    <p>
      2) Who Is Eligible?
      All Utilities require Users to be thirteen (13) years of age or older. Any person under the age of thirteen may not become a User. Using the Utilities equates representation of being thirteen (13) years or older. Additionally, persons convicted as sex offenders may not become Users. Soonmine, at its sole discretion may determine and/or establish the eligibility for Users or potential Users, for cause or for no cause, and may terminate existing or current eligibility of Users for cause or for no cause.  
    </p>

    <p>
      3) Creating an Account
      Prior to Using the Utilities, Users must register to create an account ("Account"). Registration is available by third-party social networks, including Facebook and Google+ (hereinafter, "SNS"). Choosing to register via SNS methods will require Users to login to Soonmine with SNS account credentials. In doing so, Users authorize Soonmine access to SNS account information and agree to adhere to the applicable terms and conditions of the applicable SNS. Users may discontinue said access at any time by contacting the SNS. 
      Users agree that they will maintain access and control of his or her account at all time, prohibiting all others from access or control of his or her account. Soonmine is not responsible for lost or stolen passwords.
    </p>


    <p>
      4) Trademark, Copyright and Ownership
      Soonmine and each of the utilities owned and operated by Soonmine are protected by copyright, trademark, and other laws of the United States and by the applicable laws of certain foreign countries. By using said Utilities, you hereby agree not to remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying said Utilities. Ownership extends to the codebase and every other proprietary element offered and controlled by Soonmine to the maximum extent allowable by law. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties. 
    </p>

    <p>
      5) Use of Utilities
      By using the Utilities owned and operated by Soonmine, you are granted a non-exclusive and revocable license to Use said Utilities; however, the use of said utilities is limited by the terms of this Agreement, applicable laws, and the right of Soonmine to revoke that license at any time with or without cause. Users agree to use said Utilities for personal and non-commercial purposes only. Soonmine reserves all rights not expressly granted to Users by this Agreement.
    </p>

<p>
      6) Soonmine Content and User-Managed Content License
      Soonmine hereby grants Users a limited, non-exclusive, non-transferable license, without the right to sublicense, to access, view, download and print any Site Content, subject to your acceptance of and compliance with this Agreement. Said license is for Users’ personal and non-commercial purposes only. Users are prohibited from using, copying, modifying, adapting, preparing derivative works of, selling, distributing, transferring, publicly displaying or otherwise exploiting the Utilities of Soonmine except as otherwise permitted by this Agreement. No licenses or rights are granted by implication or otherwise under any intellectual property rights owned or controlled by Soonmine or its licensors, except for the licenses and rights expressly granted by this Agreement.
</p>
      <p>
      7) User-Managed Content
      Soonmine may permit Members to post, upload, publish, submit or transmit User-Managed Content. By making available any User-Managed Content through the Utilities, Users hereby grant Soonmine a worldwide, irrevocable, perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, copy, adapt, modify, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast, access, view, and otherwise exploit such User-Managed Content only on, through or by means of the Utilities. Users solely are responsible for the User-Managed Content made available through the Utilities and other services offered by Soonmine. Users represent and warrant that they are the sole owners of all User-Managed Content that they upload, add, assign or make available through the Utilities or you have all rights, licenses, consents and releases necessary to grant to Soonmine the rights in such User-Managed Content, as contemplated under this Agreement. Users also represent and warrant that neither the User-Managed Content nor any other posting, uploading, publication, submission or transmittal of the User-Managed Content or Soonmine use of the User-Managed Content will infringe, misappropriate or violate any third party patent, copyright, trademark, trade secret, moral rights or other proprietary or intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation. Users hereby agree that any violation whatsoever of the aforementioned intellectual property rights will be a result of User conduct, and Users will hold harmless Soonmine, LLC from any such violation on the part of Users. Users will not post, add, display or disseminate illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." Users may not use a false e-mail address, impersonate any person or entity, or otherwise mislead Soonmine or LLC as to the origin of a card or other content. Soonmine and LLC reserve the right to remove or edit content it considers obscene.
</p>
      <p>
      8) General Prohibitions
      Users hereby agree to refrain from any of the following activities, either directly or indirectly: 

      • Post, upload, publish, submit, provide access to or transmit any User-Managed Content that: a) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; b) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; c) is fraudulent, false, misleading or deceptive; d) is defamatory, obscene, vulgar or offensive, pornographic or contains nudity; e) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; f) is violent or threatening or promotes violence or actions that are threatening to any other person; or g) promotes illegal or harmful activities or substances.

      • Modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any User-Managed Content, software, products, services or other intellectual property obtained from or through the Utilities, without express written consent from Soonmine.

      • Use, display, mirror or frame the Utilities or any individual element within the Utilities, including but not limited to the Soonmine logo, name, or trademark, or other proprietary information, and intellectual property, including the layout and/or design of any page or form contained on a page, without express written consent from Soonmine. 

      • Access, tamper with, or use non-public areas of the Site or Applications, our computer systems, or the technical delivery systems of our providers. Attempt to probe, scan, or test the vulnerability of any LLC system or network or breach any security or authentication measures. Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Soonmine or any providers or any other third party (including other Users) to protect the Utilities or Site Content. Attempt to access, monitor, search, copy, download or scrape the Site, Applications, or Site Content, for any purpose, through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like), or through the use of any manual process, other than the tools provided by Soonmine within the Utilities or by means of generally available third party web browsers, without our express written permission. Take any action that is harmful to, inconsistent with or disruptive to the Utilities, and/or the beneficial use and enjoyment of the Utilities by Users, including but not limited to any form of unauthorized automated traffic or scripted scraping, or taking any action that may impose, in our discretion, an unreasonable load on our infrastructure. Access or use the Utilities, or Site Content, to design, develop, test, update, operate, modify, maintain, support, market, advertise, distribute or otherwise make available any website, program, application, service, device, technology, product, or computer program that competes with, or enables or provides access to, use of, operation of or interoperation with, the Utilities. Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation. Use any meta tags or other hidden text or metadata utilizing a Soonmine’s trademark, logo, logo URL or product name without our express written consent. Use the Utilities for any commercial purpose or the benefit of any third party or in any manner not permitted by this Agreement. Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Utilities to send altered, deceptive or false source-identifying information. Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Utilities. Interfere with, or attempt to interfere with, the access of any User, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Utilities. Collect or store any personally identifiable information from the Utilities or from Users of the Utilities without their express permission. Impersonate or misrepresent your affiliation with any person or entity. Use the Utilities if you are a convicted sexual offender. Violate any applicable law or regulation or. Encourage or enable any other individual to do any of the foregoing.

      Soonmine reserves the right, at any time and without prior notice, to remove or disable access to any Site Content that Soonmine, at its sole discretion, considers to be objectionable or that for any reason is considered by Soonmine to be in violation of this Agreement or otherwise harmful to the Utilities.
</p>
      <p>
      9) Links
      Soonmine’s Utilities may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by Soonmine. Soonmine does not endorse, condone or assume and responsibility whatsoever for any such third-party sites, information, materials, products, or services. If a User accesses a third party website from the Utilities, he or she does so at their own risk. Users understand that this Agreement and Privacy Policy has no application with regard to other sites. Users expressly hold harmless Soonmine from any and all liability arising from use of any third-party website, service, or content. Dealings with or participation in promotions of advertisers found on the Utilities or other services offered by Soonmine, including payment and delivery of goods, and any other terms (such as warranties) are solely between Users and advertisers. Users hereby acknowledge that LLC shall not be responsible for any loss or damage of any sort relating to such dealings with advertisers or third-party websites.
      By using and engaging with Soonmine, the Utilities or any other service offered by Soonmine, Users acknowledge that Soonmine may attach affiliate links to third-party websites. Any benefit, financial or otherwise, that arises as a consequence of said affiliate link will inure to the benefit of Soonmine alone, and Users may make no claim as to the propriety of said benefit.
      Soonmine retains the right to modify and/or entirely redirect the links added by Users to third-party websites and/or outside vendors, under the condition that the linked-product is identical to the product originally linked by the User.
</p>
      <p>
      10) Change or Termination
      Soonmine may, for cause or no cause and without prior notice, modify the Utilities, and may remove service of said offerings or created usage limits to the Utilities or this Agreement. We may permanently or temporarily terminate or suspend access to Soonmine and the Utilities offered by Soonmine with or without notice or liability, for any reason or for no reason, including if in the sole determination of the Soonmine, a User is considered by Soonmine to have violated any provision of this Agreement. Upon termination of this Agreement or your access to the Utilities for any reason or no reason, you will continue to be bound by the terms of this Agreement, which by their nature should survive termination, including without limitation ownership provisions, warranty disclaimers, indemnity, and limitations of liability.
      </p>
      <p>
      11) Disclaimers
      SOONMINE PROVIDES THE UTILITIES AND SITE CONTENT "AS IS," WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. SOONMINE EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF THE COURSE OF DEALING OR USAGE OF TRADE. SOONMINE MAKES NO WARRANTY THAT THE UTILITIES, SITE CONTENT OR OTHER SERVICES OFFERED BY SOONMINE WILL MEET ANY SET STANDARD OR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. SOONMINE MAKES NO WARRANTY REGARDING THE QUALITY OF ANY PRODUCTS, SERVICE OR SITE CONTENT OBTAINED THROUGH THE SITE, APPLICATIONS OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY SITE CONTENT OBTAINED THROUGH THE UTILITIES. USERS, ALONE, SOLELY ARE RESPONSIBLE FOR ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE UTILITIES AND WITH OTHERS WITH WHOM USERS COMMUNICATE OR INTERACT WITH IN CONJUNCTION WITH USE OF THE UTILITIES. USERS UNDERSTAND THAT SOONMINE DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE UTILITIES, NOR DOES SOONMINE MAKE ANY ATTEMPT TO VERIFY AS TRUE THE STATEMENTS OF USERS OF THE UTILITIES. LLC MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE UTILITIES OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE USERS OF THE UTILITIES. Soonmine takes no responsibility and assumes no liability for any User-Managed Content posted or disseminated by way of the Utilities. Users solely are responsible for the User-Managed Content posted by him or her and the consequences of posting or publishing said content, and Users hereby agree that Soonmine is nothing more than a passive conduit through which Users may post, add, or disseminate such content. Users understand and agree that Users may be exposed to User-Managed Content that is inaccurate, objectionable, or otherwise unsuited to a given purpose, and Users agree that Soonmine shall not be liable for any damages Users or third parties incur or allege to incur as a result of User-Managed Content.
      </p>
      <p>
      12) Indemnity
      Users hereby agree to defend, indemnify, and hold Soonmine, its members, officers, directors, employees and agents, harmless from and against any and all claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with said Users’ access to or use of the Utilities or any other services offered by Soonmine, including but not limited to use of Site Content, or violation of these Terms.
      </p>
      <p>
      13) Limitation of Liability
      USERS HEREBY ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, USERS MAINTAIN AND ASSUME THE ENTIRE RISK ARISING OUT OF THEIR ACCESS TO AND USE OF THE UTILITIES AND OTHER SERVICES OFFERED BY SOONMINE. NEITHER SOONMINE NOR ANY OTHER PERSON, ENTITY OR PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING SOONMINE, THE UTILITIES OR OTHER SERVICES OFFERED BY SOONMINE WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR LOSS OF GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE UTILITIES, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF THE UTILITIES OR OTHER PERSONS WITH WHOM USERS COMMUNICATE OR INTERACT WITH AS A RESULT OF USERS’ USE OF THE UTILITIES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT SOONMINE HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. IN NO EVENT WILL SOONMINE AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE UTILITIES EXCEED TWO HUNDRED, FIFTY DOLLARS ($250). THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN SOONMINE AND USERS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY IN CERTAIN JURISDICTIONS.
      The Utilities are controlled and operated in the United States. Soonmine makes no representations that the Utilities are appropriate or available for use in any other country. Users who access or make use of the Utilities from other countries and jurisdictions do so at their own risk and are entirely responsible for compliance with all applicable laws and regulations, including but not limited to export and import regulations. Users hereby represent and warrant that Users are not located in a country embargoed by the United States or that has been designated by the United States government as a “terrorist-supporting” country, and that you are not a foreign person or entity blocked or denied by the United States government or otherwise listed on any United States government list of prohibited or restricted parties. Unless otherwise explicitly stated, all content found on Soonmine or the Utilities solely are directed to individuals, companies, or other entities located in the United States.
      </p>
      <p>
      14) Controlling Law and Jurisdiction
      This Agreement and any action related hereto will be governed by the laws of the State of Mississippi without regard to its conflict of laws provisions.
      </p>
      <p>
      15) Arbitration
      Any dispute arising from or relating to the subject matter of this Agreement shall be finally settled by arbitration in Copiah County, Mississippi, using the English language in accordance with the most recently adopted Streamlined Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS"), by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected by Soonmine from the appropriate list of JAMS arbitrators in accordance with the Streamlined Arbitration Rules and Procedures of JAMS. Judgment upon any award rendered may be entered in a court having jurisdiction, or application may be made to such court for judicial acceptance of any award and an order of enforcement, as the case may be. Any arbitration under this Agreement will take place on an individual basis: class arbitrations and class actions are not permitted. YOU UNDERSTAND AND AGREE THAT BY ENTERING INTO THIS AGREEMENT, YOU AND SOONMINE ARE EACH WAIVING THE RIGHT TO TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION. Notwithstanding the foregoing, each party shall have the right to institute an action at any time in a court of proper jurisdiction for injunctive or other equitable relief.
      </p>
      <p>
      16) Communications or Notifications 
      As certain actions or needs arise, Soonmine may provide notifications, whether such notifications are required by law or are for marketing, legal or other business related purposes, to Users via email notice, written or hard copy notice, or by way of posting of said notice on the Utilities. Soonmine hereby reserves the right to determine the form and means of providing notifications to our Users; however, Users may opt out of certain notification methods as described in this Agreement. Soonmine is not responsible for any filtering procedure applied by Users’ email network system to email notifications Soonmine sends to the email addresses provided us. Any notices or other communications permitted or required hereunder, including those regarding modifications to this Agreement, will be in writing and given by Soonmine by way of copy to the email address Users provide, or by posting to Soonmine.      
      For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.
</p>
<p>
      17) Entire Agreement
      This Agreement constitutes the entire and exclusive understanding and agreement between Soonmine and Users regarding the Use of Utilities and any other services offered by Soonmine, including but not limited to Site Content, and User-Managed Content, and this Agreement supersedes and replaces any and all prior oral or written understandings or agreements between Soonmine and Users rregarding the Use of Utilities and any other services offered by Soonmine, including but not limited to Site Content, and User-Managed Content.
</p>
<p>
      18) Assignment
      Users may not assign or transfer this Agreement, by operation of law or otherwise, without prior written consent from Soonmine. Any such attempt to assign or transfer this Agreement, without such consent, will be null and of no effect. However, Soonmine may assign or transfer this Agreement, at its sole discretion, without restriction. Subject to the foregoing, this Agreement will bind and inure to the benefit of the parties, their successors and permitted assigns.
</p>
<p>
      19) General
      The failure of Soonmine to enforce any right or provision of this Agreement will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Soonmine. Except as expressly set forth in this Agreement, the exercise by either party of any of its remedies under this Agreement will be without prejudice to its other remedies under this Agreement or otherwise. If for any reason a court of competent jurisdiction finds any provision of this Agreement to be invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of this Agreement will remain in full force and effect.
</p>
<p>
      20) Contact Us
      Soonmine encourages communication and readily is available at someone@Soonmine.com to answer questions or assist in the early resolution of potential issues.

      Effective Date: This Privacy Policy is effective as of January 1, 2013.
</p>

  </div>
</div>


