<div class="row" style="text-align: center">
  <h1>Start getting the gifts you want for a change</h1>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="row">
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet semper est. Vestibulum mollis velit porta eros tincidunt malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum ac augue et ornare. Aliquam auctor pulvinar enim, sit amet lobortis urna aliquet non. Aenean gravida commodo sem at consectetur. Mauris non justo posuere nibh tristique consectetur. Vestibulum egestas, lacus vel tempus bibendum, mauris arcu varius nisl, sed molestie nulla tortor a nunc.
      </p>
    </div>

    <div class="top-margin-20 row">
      <div class="large-6 large-centered columns" style="text-align: center">
        <%= link_to "Sign Up", new_user_registration_path, class: "button large" %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 large-centered columns" style="text-align: center">
        <%= link_to "Login", new_user_session_path, class: "button large" %>
      </div>
    </div>
  </div>

  <div class="large-6 columns">
    <iframe width="500" height="315" src="//www.youtube.com/embed/Of2HU3LGdbo" frameborder="0" allowfullscreen></iframe>
  </div>

</div>