<div class="row">
  <div class="row">
    <div class="large-4 large-centered columns center-text">
        <h2>Sign Up</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-4 large-centered columns center-text user-signup-block">
      <div class="row">
        <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "button" %>
      </div>
      <div class="row">
          <%= link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), class: "button" %>
      </div>
      <div class="row">
        <%= link_to "Sign up with Email", new_from_email_path, class: "button" %>
      </div>
      <div class="row">
        Already Signed up? <%= link_to "Login", new_user_session_path %>
      </div>      
    </div>
  </div>

</div>