<div class="row">
  <div id="socialShare" class="reveal-modal small center-text">

    <div class="row"> 
      <h2>Share My List</h2>
    </div>

    <div class="row">
      <p>
        Share your list with your family and friends to start getting the gifts you want for a change.
      </p>
    </div>

    <div class="large-6 large-centered columns">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style" >
        <a class="addthis_button_facebook" 
        addthis:url="<%= user_url(current_user) %>"
        addthis:title="Soonmine List"></a>
        
        <a class="addthis_button_twitter" 
        addthis:url="<%= user_url(current_user) %>"
        addthis:title="Soonmine List"></a>        

        <a class="addthis_button_pinterest_share"
        addthis:url="<%= user_url(current_user) %>"
        addthis:title="Soonmine List"></a>    

        <a class="addthis_button_email" 
        addthis:url="<%= user_url(current_user) %>"
        addthis:title="Soonmine List"></a>    
      </div>

      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
      <!-- AddThis Button END --> 
    </div>
  </div>
</div>


