<div class="row">
  <div class="large-centered large-9 columns center-text">
    <h1 class="static-heading">Search results</h1>
  </div>
</div>

<div class="row">
  <div class="large-10 columns large-centered">
    <% if @users.any? %>
      <%= render partial: "user_display_row", collection: @users, as: :user %>
    <% else %>
      <h3> Nobody Matched Your Search </h3>
    <% end %>
  </div>
</div>
