<div class="row">
  <ul class="large-block-grid-4">
    <li>
      <div class="user-profile-block">
        <div class="block-user-image">
          <%= image_tag @user.image_url %>
        </div>
        <div class="block-user-info">
          <p><%= @user.fullname.present? ? @user.fullname : @user.email %></p>
          <p><%= @user.location rescue "No Location Provided" %></p>
        </div>
      </div>
    </li>

    <%= render partial: "product_block", collection: @list.products, as: :product %>

  </ul>
</div>

<% content_for :header do %>
  <div class="row">
    Header Area
  </div>
<% end %>