
<div class="row large-6 large-centered center-text columns">
  Hello, please add a new contact.
  <br/>
  <% if current_user.authentications.where(provider: "google_oauth2").first %>
    <%= link_to "Add Google Contacts", add_google_contacts_path, remote: true, class: "button expand" %>
  <% else %>
    Authorize with Google to access your Google contacts
  <% end %> 
  <br/>
  <% if current_user.authentications.where(provider: "facebook").first %>
    <%= link_to "Add Facebook Contacts", "#", :"data-reveal-id" => "add-facebook-container" %>
  <% else %>
    Authorize with Facebook to access your Facebook contacts
  <% end %>
</div>




<div id="add-google-container" class="reveal-modal">
  <h1>Google</h1>
</div>

<div id="add-facebook-container" class="reveal-modal">
  <h1>Facebook</h1>
</div>