/*Conventions:
Classes that end in -block define the blocks themselves.
Classes that begin in block- are elements within blocks.

*/

.user-profile-block{
  text-align: center;
  width: 220px;
}

.block-user-image{
  height: 220px;
  img{
    height: 220px;
  }
}

.block-user-info{
  text-align: center;
  height: 60px;
  padding-bottom: 15px;
  padding-top: 12px;
  background-color: #d3a33f;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.product-block{
  width: 220px;
}

.product-block-image{
  position: relative;
  text-align: center;
  background-color: #fff;
  height: 220px;
  img{
    max-height: 220px;
  }
}

.product-block-image-overlay{
  position: absolute;
  background: rgba(0,0,0,.7);
  display: none;
  width: 220px;
  height: 220px;
  padding-top: 90px;
}

.product-block:hover .product-block-image-overlay{
  display: block;
}

.block-product-info{
  text-align: center;
  height: 60px;
  padding-bottom: 15px;
  padding-top: 12px;
  background-color: #889faf;
  color: white;
  font-size: 16px;
  line-height: 24px;

}


.user-signup-block{
  padding: 20px;
}

.user-settings-block{
  padding: 20px;
  background-color: white;
}

.new-product-block{
  padding: 20px;
}

.edit-product-block{
  border: 1px black solid;
  padding: 20px;  
}


.static-block{
  background-color: #fff;
  padding: 40px 17px;
}