/*Conventions:
Classes that end in -block define the blocks themselves.
Classes that begin in block- are elements within blocks.

*/

.user-profile-block{
  text-align: center;
  width: 220px;
}

.block-user-image{
  height: 220px;
  img{
    height: 220px;
  }
}

.block-user-info{
  text-align: left;
  height: 60px;
  padding: 12px 10px 15px 10px;
  background-color: #d3a33f;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.product-block{
  width: 220px;
  position: relative;
  padding-bottom:60px;
}

.product-block-image{
  position: relative;
  text-align: center;
  background-color: #fff;
  height: 220px;
  img{
    max-height: 220px;
  }
}

.product-block-image-overlay{
  position: absolute;
  background: rgba(0,0,0,.7);
  display: none;
  width: 220px;
  height: 220px;
  padding-top: 90px;
}

.product-block:hover .product-block-image-overlay{
  display: block;
}

.block-product-info{
  text-align: left;
  height: 60px;
  padding: 12px 10px 15px 10px;
  background-color: #889faf;
  color: white;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-name {
  font-family: "p22-underground";
  font-weight: 500;
}

.no-product-image {
  margin-top:20px;
}

.user-signup-block{
  padding: 20px;
}

.user-settings-block{
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: white;
}

.new-product-block{
  padding: 20px;
  background-color: white;
  margin:0 auto;
}

.edit-product-block{
  border: 1px black solid;
  padding: 20px;  
}


.static-block{
  background-color: #fff;
  padding: 40px 17px;
}

.button.medium.product-buy-btn {
  padding: 11px 45px 9px 45px;
  border:1px solid #d2a33f;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
}

.scrollup{
    width:63px;
    height:63px;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('backtotop.png') no-repeat;
}

.scrollup:hover {
    background: url('back-top-hover.png') no-repeat;
}


/* === Add products === */

.add-products-wrap {
  margin-top:50px;
}

.add-products-wrap h1, h3 {
  text-align:center;
}

.add-products-wrap h1 {
  margin-bottom:45px;
}

.add-products-wrap h3 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight:100;
  line-height:46px;
  margin-bottom:50px;
}

.button.add-product-button {
  padding:0;
  font-family: "p22-underground";
  font-size:22px;
  padding:20px 37px 15px 37px;
  font-weight:300;
  margin-bottom:66px;
}

@media only screen and (max-width: 480px) {
  .user-profile-block, .product-block {
    margin:0 auto !important;
  }

  [class*="block-grid-"] > li {
   float: none !important;
  }
}