/*Conventions:
Classes that end in -block define the blocks themselves.
Classes that begin in block- are elements within blocks.

*/

.user-profile-block{
  text-align: center;
  width: 220px;
}

.block-user-image{
  height: 220px;
  background:#fff;
  line-height:220px;
  img{
    vertical-align: middle;
    max-height:220px;
  }
}

.block-user-info{
  text-align: left;
  height: 60px;
  padding: 12px 10px 15px 10px;
  background-color: #d3a33f;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.product-block{
  width: 220px;
  position: relative;
  padding-bottom:60px;
}

.product-block-image{
  position: relative;
  text-align: center;
  background-color: #fff;
  height: 220px;
  line-height:220px;
  img{
    max-height: 220px;
    vertical-align: middle;
  }
}

.product-block-image-overlay{
  position: absolute;
  background: rgba(0,0,0,.7);
  display: none;
  width: 220px;
  height: 220px;
  padding-top: 90px;
}

.product-block:hover .product-block-image-overlay{
  display: block;
}

.block-product-info{
  text-align: left;
  height: 60px;
  padding: 12px 10px 15px 10px;
  background-color: #889faf;
  color: white;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.product-name {
  font-family: "p22-underground";
  font-weight: 500;
}

.no-product-image {
  margin-top:20px;
}

.user-signup-block{
  padding: 20px;
}

.user-settings-block{
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: white;
}

.pick-file-wrap button {
  background: #889faf;
  border: none;
  text-transform: uppercase;
  font-family: "p22-underground";
  font-weight: 500;
  padding-bottom:10px;
}

.new-product-block{
  padding: 20px;
  background-color: white;
  margin:0 auto;
}

.edit-product-block{
  border: 1px black solid;
  padding: 20px;  
}


.static-block{
  background-color: #fff;
  padding: 40px 17px;
}

.button.medium.product-buy-btn {
  padding: 11px 45px 9px 45px;
  border:1px solid #d2a33f;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  vertical-align: top;
}

#delete-product  {
  font-family: "p22-underground";
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  background: #889faf !important;
  position: absolute;
  top: 0px;
  padding: 5px 6px 2px 6px;
  right: 0px;
  height: 25px;
  width: 28px;
}

.scrollup {
    width:63px;
    height:63px;
    position:fixed;
    bottom:0px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('backtotop.png') no-repeat;
}

.scrollup:hover {
    background: url('back-top-hover.png') no-repeat;
}


/* === Add products === */

.add-products-wrap .intro-instructions p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  font-weight:100;
  text-align: center;
  text-transform: none;
}

.add-products-wrap .intro-instructions p:last-child {
  margin-bottom:50px;
}

.button.add-product-button {
  padding:0;
  font-family: "p22-underground";
  font-size:22px;
  padding:20px 37px 15px 37px;
  font-weight:300;
  margin-bottom:66px;
}

/* === How it works === */

.circle {
  font-family: "p22-underground";
  cursor: pointer;
  display:block;
}

.circle:hover {
  background: #4f6b7e;
}

.large-4.columns .text-box {
  padding:10px;
  height:88px;
}

.large-4.columns .text-box p {
  font-size:18px;
}

a#row-user-name {
  font-size: 16px;
  color:#889faf !important;
}

/* === Share my list === */

.intro-instructions h4 {
  font-family: "p22-underground";
  font-size:24px;
  margin:55px 0 30px 0;
  color:#4d4d4d;
}

.intro-instructions p {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight:100;
  font-size:18px;
  color:#4a4a4a;
}

.section-container {
    margin-top:31px;
}

.intro-instructions.single-line p {
  margin-bottom:40px;

}

.add-reminders-form label {
  color:#6e6e6e;
  font-size: 18px;
  font-weight:300;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.add-reminder-btn {
  float:right;
  margin-bottom:0;

}

#save-contacts, #add-another-contact, .add-reminder-btn {
  text-transform: uppercase;
  font-family: "p22-underground";
  font-size: 18px;
  font-weight: 400;
  padding-top: 20px;
}

#add-another-contact {
  background:#889faf;
}

#add-by-hand h2 {
    font-family: "p22-underground";
    font-size:24px;
}

#save-contacts {
  float: right;
  margin-bottom: 0;
}

.tabs-wrap {
  margin-top: 40px;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

#share-tabs li {
    display: inline-block;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    color: #889faf !important;
    text-transform: uppercase;
    font-family: "p22-underground";
    font-size: 18px;
    text-align: center;
    background:#d1d1d1 !important;
    padding:22px 46px;
}

#share-tabs li:first-child {
  margin-right:5px;
}


#share-tabs-content .button.large {
  padding:22px 29px  18px 29px !important;
  text-align:center;
  font-weight:300;
  margin-bottom:20px !important;
}

.share-social-block {
  margin-bottom:40px;
}

.share-social-block .button, #share-tabs-content button.button, #share-tabs-content input.button {
  text-transform: uppercase;
  font-family: "p22-underground";
  font-size: 22px;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding:76px 65px 91px 68px;

}

.resp-tab-content.no-padding {
  padding:37px 16px !important;
}

#share-tabs .resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    background:#fff !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

h2.resp-accordion {
    font-size: 13px;
    margin: 0px;
}

h2.resp-tab-active {
    margin-bottom: 0px !important;
}


/*-----------Accordion styles-----------*/

h2.resp-accordion {
  background: #d1d1d1;
  color:#889faf !important;
  font-size:20px !important;
  padding: 20px 0 !important;
}

h2.resp-tab-active {
    background: #fff !important;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}



/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }

    .resp-tab-content {
      padding:30px 15px;
    }

    .search-product-single-result {
      display: none;
    }

}

@media only screen and (max-width: 767px) {

 #share-tabs-content {
    text-align: center;
  }

  .search-results-wrap .large-2 {
    float:left !important;
  }

}

@media only screen and (max-width: 480px) {
  .user-profile-block, .product-block {
    margin:0 auto !important;
  }

  [class*="block-grid-"] > li {
   float: none !important;
  }

  #add-by-hand .small-6  {
    width:100%;
  }

  #save-contacts, #add-another-contact {
    float:none;
    display: block;
    width: 100%;
  }

  #new_reminder .small-4, .small-8 {
    width:100% !important;
  }

  #save-contacts, #add-another-contact, .add-reminder-btn {
    font-size:16px !important;
  }


  #share-tabs-content .button.large {
    display: block;
    margin:0 auto;
    padding: 0;
    font-size:15px !important;
    padding:22px 14px 18px !important;
  }

  .user-signup-block.signup-standalone .button {
    font-size: 14px !important;
  }

  .user-signup-block.signup-standalone .email-signup-button:after {
    top:13px !important;;
  }

  .user-signup-block.signup-standalone .google-signup-button:after {
    top:6px !important;;
  }

  .twitter-signup-button:after {
    top:9px !important;;
  }

  .user-signup-block.signup-standalone .facebook-signup-button:after {
    top:5px !important;;
  }

  .search-results-wrap .large-2 {

  }

  #share-tabs-content .button.large {
    padding:22px 6px 18px !important;
  }

}

@media only screen and (max-width: 325px) {
  .user-diplay-row .large-3.small-6 {
    width: 100% !important;
  }

  .search-result {
    margin-top: 31px;
  }

  .row.search-results-wrap {
    padding:0;
  }
}


