/* === GLOBAL SETTINGS === */

ul, li, a:not(.button){
  background-color: transparent !important;
  color: white !important;
}

.big-white{
  color: white !important;
  font-size: 36px;
  font-family: "p22-underground";
}

.small-white{
  font-size: 24px;
  line-height: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.bold{
  font-weight: 400;
}
.normal{
  font-weight: 100;
}

.button{
  background-color: #d3a33f;
  border: none;
  font-family: "p22-underground";
  font-weight: 500;
}

.button:hover{
  background-color: #e5bc64;
}

.button:active{
  background-color: #bf8c34;
}

/* === Styling the splash page === */

.logo a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 145px !important;
  height:27px;
  background-image: url(logo@2x.png);
  background-size:145px 27px;
  margin-top: 24px;
}

.logo-standalone .logo a {
  background-image: url(logo-standalone.png);
  background-size:192px 36px;
  width: 192px !important;
  height:36px;
  margin:106px 0 10px 0;
}

.home-main-section {
  margin-top: 156px;
}

.home-nav .toggle-topbar span {
    font-size:13px;
}

.home-nav .top-bar-section ul li > a {
  padding-left:0 !important;
}

.tagline span {
  display: block;
  font-size: 36px;
  font-family: "p22-underground";
}

.tagline span:first-child {
  margin-bottom: 15px;
}

.video-icon {
  display: inline-block;
  width: 70px;
  height: 60px;
  background: url(video-icon.png) no-repeat;
  position: relative;
  top: 21px;
}

.tagline-text {
  margin-top:58px;
  margin-bottom: 40px;
}

.video-tagline {
  margin-bottom: 35px;
}

.button.expand.signup-btn {
  padding-top:15px;
  padding-bottom:11px;
}


/* === Inner page nav  === */

.menu-search {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 20px !important;
  height:20px;
  background: url(search-icon@2x.png) center center no-repeat !important;
  background-size:20px 20px !important;
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.top-bar-section .has-form {
  height:73px;
  padding-left:15px;
  padding-right: 15px;
}

.inner-page-nav ul li a {
  color:#626262 !important;
  text-transform: uppercase;
  font-size:14px;
  padding-top:10px;
  font-family: "p22-underground";
  font-weight: 700;
}

.top-bar-section .has-dropdown > a:after {
  display:none;
}

.inner-page-nav .top-bar-section .has-dropdown > a {
  padding-right:47px !important;
}

.inner-page-logo img {
  margin-top:25px;
}

.inner-page-nav .dropdown, .inner-page-nav .has-dropdown:hover, .inner-page-nav li:hover {
  background:#474747 !important;
}

.inner-page-nav .dropdown a, .inner-page-nav .has-dropdown:hover a, .inner-page-nav li:hover a {
    color:#fff !important;
}

.inner-page-nav .dropdown a {
  padding-top:10px !important;
  padding-bottom:10px !important
}

.inner-page-nav .dropdown li:nth-child(2) {
  margin-top: 15px;
}

.inner-page-nav .dropdown li:last-child {
  margin-bottom:15px;
}


.inner-page-nav .dropdown li.has-form {
  margin-bottom:0;
}

.inner-page-nav .dropdown .has-form {
  margin-top: 0 !important;
}

.inner-page-nav .dropdown a:hover {
    background:#2e2e2e !important;
}

li:hover.inner-page-logo {
  background:none !important;
}

.inner-page-nav #search  {
  position: relative;
  top: 5px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  margin-top: 18px;
  margin-bottom: 18px;
  border: medium none;
}

#user-search-submit {
  background: url(search-icon-input.png) no-repeat;
  position:absolute;
  top: 28px;
  right: 15px;
  border:none;
}

.top-bar-image {
  padding-top:23px;
}

#top-bar-user-image-link {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

/* === Signup === */

.center-text h2 {
  font-size:30px;
  color: #d2a33f;
  font-weight:700;
  margin-top:20px;
}

.user-signup-block {
  background:#fff;
  padding:61px 50px 46px 50px !important;
}

/* we are using top and bottom instead of the shortheand so we don't interfere with the foundations styling */
.user-signup-block .button {
  position: relative;
  padding-top:15px;
  padding-bottom:15px;
}

.user-signup-block .login-button-standalone {
  color: #558ccf !important;
  text-decoration: underline;
}

.facebook-signup-button:after, .twitter-signup-button:after, .google-signup-button:after, .email-signup-button:after {
  content: " ";
  background:#000;
  position:absolute;
  top:0;
  left:0;
  width:16px;
  height:47px;
}

.facebook-signup-button:after {
   background: url(facebook-icon.png) no-repeat;
   top:5px;
   left:5px;
}

.twitter-signup-button:after {
   background: url(twitter-icon.png) no-repeat;
   top:10px;
   left:5px;
   width:30px;
}

.google-signup-button:after {
   background: url(google-icon.png) no-repeat;
   top:5px;
   left:11px;
   width:22px;
}

.email-signup-button:after {
   background: url(email-icon.png) no-repeat;
   top:15px;
   left:11px;
   width:24px;
   height:20px;
}

.facebook-signup-button {
  background-color:#3b5998;
}

.twitter-signup-button {
  background-color:#4099ff;
}

.google-signup-button {
  background-color:#d34836;
}

.title-standalone {
  font-family: "p22-underground";
  margin-bottom:38px;
}

/* === Custom dropdowns === */

form.custom .custom.dropdown.small {
   max-width: 100%;
   background: #ebebeb;
   border:1px solid #cbcbcb !important;
   height:41px;
}

form.custom .custom.dropdown.open.small ul {
  min-width: 100%;
  background: #eee !important;
}

form.custom .custom.dropdown a:not(.button), form.custom .custom.dropdown ul li {
  color:#919191 !important;
}

form.custom .custom.dropdown .selector {
  cursor: default;
  position: absolute;
  width: 34px;
  height: 38px;
  display: block;
  right: 1px;
  top: 1px;
  background: #fff !important;
}

form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
  border: none;
  background: url('select-arrow.png') no-repeat;
  height:15px;
  width:18px;
  left: 9px;
  top: 16px;
}

form.custom .custom.dropdown .current {
  line-height:3.1em;
}

form.custom .custom.dropdown ul li:hover {
  background:#fff !important;
}

form.custom .custom.dropdown .selector:after {
  border: none;
  background: url('select-arrow.png') no-repeat;
  height:15px;
  width:18px;
  left: 9px;
  top: 16px;
}

form.custom .custom {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
  border: solid 4px #cccccc;
  background: white;

}

form.custom .custom.radio.checked:before {
  background:#77a3d9;
}

form.custom .custom.radio.checked {
  border: solid 4px #77a3d9;
}

.settings-wrap form.custom .custom {
  top: 4px;
  left: 1px;
}

.standalone-layout-wrap form.custom .custom.dropdown .selector {
  top: 1px;
}

.standalone-layout-wrap .button.button-block {
  width:100%;
  display:block;
  font-size:30px;
  font-family: "p22-underground";
  margin-top:15px;
}

#sort-container {
  width:200px;
}

.sort-show-wrap {
  position: absolute;
  right: -60px;
  top: 0;
  background-color: rgba(71, 71, 71, 0.9);
  width: 60px;
  height: 60px;
}

#sort-show {
    font-weight: 700;
    display: inline-block;
    margin:26px 0 0 7px;
    font-family: "p22-underground";
}

.sort-filter {
  margin:7px 0;
}

.responsive-sort-menu {
  padding:15px 10px;
  width: 300px;
  text-transform: uppercase;
  margin:0 auto;
  display: none;
  background: url(sort-responsive-arrows.png) no-repeat 95% center rgba(71, 71, 71, 0.9);
  color:#fff;
  cursor: pointer;
}

.settings-wrap {
  padding:61px 50px 46px 50px !important;
  margin-bottom:40px;
}

.intro-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:24px;
  font-weight:100;
  line-height:48px;
}


/* === Overriding Foundation UI styles === */

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.static-heading {
  font-family: "p22-underground";
  color: #d3a33f;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.alert-box.alert.soonmine-alert {
  background: #889faf;
  margin-top:50px;
  border: none; 
}

.button {
  box-shadow: none !important;
  border:none !important 
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], 
input[type="month"], input[type="week"], input[type="email"], input[type="number"], 
input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  color: #919191;
}

.save-settings-btn {
  margin-right:-15px;
}

/* === Respnsive styles === */

@media only screen and (max-width: 1030px) {
  .home-main-section {
    padding:0 20px;
  }

  h1.logo {
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  .home-main-section {
    margin-top: 0;
  }

  .products-grid-list {
    margin-top: 40px;
  }

  #sort-container {
    top: 201px;
    left: 50%;
    margin-left: -150px;
    display: none;
    width:300px;
  }

  .sort-show-wrap {
    display: none;
  }

  .responsive-sort-menu {
    display:block;
  }



}