/* Core styles */

.responsive-menu-active {
   position: relative;
   right: 262px;
   -webkit-transition:all 0.5s ease-in-out;
   -moz-transition:all 0.5s ease-in-out;
   -o-transition:all 0.5s ease-in-out;
   transition:all 0.5s ease-in-out;
}

.so-main-menu, .dropdown ul {
  list-style:none;
  margin:0;
  padding:0;
}

.so-main-menu > li {
  float:left;
  position:relative;
}

.so-main-menu li > a {
  display:block;
  padding:0 6px;
}

.so-main-menu:before,
.so-main-menu:after {
    content: " "; 
    display: table; 
}

.so-main-menu:after {
    clear: both;
}

.so-main-menu {
    *zoom: 1;
}

/* drop down  */
.dropdown > ul, .dropdown-medium, .dropdown-big  {
  position:absolute;
  display:none;
  z-index:1;
  right:0;
  top:20px;
}

.so-main-menu > li:hover > ul, .so-main-menu li:hover > div {
    display:block;
}


/* Skin  */

.responsive-nav-btn {
    display:none;
    margin-top:27px;
    cursor:pointer;
}

.so-inner-menu-wrap .responsive-nav-btn {
  margin-top:20px;
}

.so-home-menu li > a, .so-inner-menu > li > a, .so-inner-menu .dropdown > ul a {
  font-size:14px;
  font-family: "p22-underground";
  font-weight: 700;
 
}

.so-home-menu li > a, .so-inner-menu > li > a {
   padding:40px 24px;
}

.so-menu-search {
  bottom:3px;
}

 .so-menu-search > a {
  padding-bottom:20px;
}

 .so-menu-search > a:hover,  .so-home-menu .dropdown > ul,  .so-home-menu > li.so-menu-search:hover,  .so-inner-menu .dropdown > ul,  .so-inner-menu .dropdown > a:hover, .so-inner-menu .dropdown:hover {
    background-color: #595959 !important;
 }

 .so-inner-menu .dropdown > a:hover,  .so-inner-menu .dropdown:hover > a {
  color:#fff !important;
 }

 .so-inner-menu .dropdown > ul {
    width: 100%;
    top: 80px;
 }

.so-inner-menu .dropdown > a {
  cursor:pointer;
}

 .so-inner-menu .dropdown > ul a {
   padding:9px 20px;
 }

.so-inner-menu .dropdown > ul li:first-child {
    margin-top:20px;
}

.so-inner-menu .dropdown > ul a:hover {
 background-color:#2e2e2e !important;
}

.so-main-menu ul.dropdown-so-search {
   width:290px;
   top:78px;
 }

 .so-inner-menu .dropdown > ul.dropdown-so-search li:first-child {
  margin-top:0 !important;
 }

 .so-inner-menu ul.dropdown-so-search {
  top:83px;
 }

 .so-inner-menu .so-menu-search > a {
    padding-bottom:50px;
 }

.dropdown-so-search input {
   width:260px;
   background-color:#fff;
   border:none;
   height:38px;
   margin:0 auto;
 }

 .so-menu-search-form {
    padding:16px 0 4px 0;
 }

 #user-search-submit {
  top: 24px;
  right: 0;
  width: 45px;
 }

 #search {
  font-size:16px;
 }

 .so-inner-header-wrap {
    background-color:#fff;
    height:80px;
    margin-bottom:30px;
 }

 .so-inner-header h1 {
    margin-top:0;
    margin-left:-12px;
 }

.so-inner-menu > li > a {
  color:#626262 !important;
  text-transform: uppercase;
} 

.so-inner-menu  li.so-menu-user > a {
  padding-top:18px;
}

.so-inner-menu .dropdown ul.dropdown-large {
  width:170%;
}

 @media only screen and (max-width: 771px) {

     .so-inner-header-wrap {
        height:60px;
      }

      .logo a {
        margin-top:15px;
      }
     
     .so-main-menu {
        right:-262px;
        background-color: #575757 !important;
        position: fixed;
        height:100%;
        z-index:1000;
        width: 262px;
     }

     .so-menu-open {
        right:0;
        -webkit-transition:all 0.5s ease-in-out;
        -moz-transition:all 0.5s ease-in-out;
        -o-transition:all 0.5s ease-in-out;
        transition:all 0.5s ease-in-out;
     }

     .so-main-menu li {
        float:none;
        display:block;
        width: 100%;
        padding:20px;
     }

     .so-main-menu li a {
       padding:0;
     }

     .dropdown-so-search {
        display: block !important;
        top:0 !important;
        width:100% !important;
     }

     .dropdown-so-search input {
        margin-right: 10px;
        width: 95%;
     }

     #user-search-submit {
      top: 44px;
      right: 6px;
     }

     .responsive-nav-btn {
        display: block;
     }

     .so-inner-menu li, .so-inner-menu a {
        margin:0 !important;
        padding:0 !important;
     }

     .so-inner-menu .dropdown > ul {
      top:0;
     }

     .so-inner-menu li a {
      color:#fff !important;
     }

     .so-inner-menu .dropdown ul {
      display:block;
      position: relative;
      border-bottom:1px solid #424242;
     }

     .so-inner-menu .dropdown:last-child ul {
      border-bottom:0;
     }

     .so-inner-menu .so-menu-user > a {
       background-color: #d2a33f !important;
       padding:5px 0px 18px 14px !important;
     }

     .so-inner-menu .so-menu-user > a:hover {
       background-color: #d2a33f !important;
     }

     .so-inner-menu .dropdown ul a {
        padding:10px 20px !important;
        font-weight:300 !important;
     }

      .so-inner-menu .dropdown ul li:first-child {
        margin-top:20px !important;
      } 

      .so-inner-about > a {
        display:none !important;
      }

       .so-inner-about {
        background-color: #575757 !important;
       }

      .so-inner-menu .dropdown-so-search input {
        width: 90%;
        margin-right: 13px;
      }
      
       .so-inner-menu .dropdown ul > li > a:last-child {
          margin-bottom:10px !important;
       }

      .so-inner-menu #user-search-submit {
        top: 27px;
        right: 0;
      }

 } 