.search-icon{
  position:relative;
  top: 10px;
}

#user-search-submit{
  background-image: url('/assets/search-icon@2x.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 30px;

}