.center-text{
  text-align: center;
}

.uppercase{
  text-transform: uppercase !important;
}


body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: #4a4a4a;
}


h1{
  font-family: "p22-underground"; 
  font-weight: 800;
  color: #d3a33f;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

h2{
  font-family: "p22-underground"; 
  font-weight: 500;
  color: #4a4a4a;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

h3{
  font-family: "p22-underground"; 
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
  color: #4a4a4a;
}

h4{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
  font-size: 22px;
}

.static-heading{
  padding: 40px;
}

.static-block p{
  padding-top: 5px;
  padding-bottom: 25px;
  line-height: 22px;
  font-size: 1em;
}
