.row-user-name{
  position: relative;
  top: 1.2em;
}
.row-user-image{
  max-height: 50px;
}

.row-product-image{
  max-height: 50px; 
}

.row-user-image-container{
  text-align: center;
}

#sort-container{
  color:#fff;
  background-color: rgba(71,71,71,.9); 
  position: absolute;
  top: 152px;
  left: -200px;
  padding: 20px;
}
