.row-user-name{
  position: relative;
  top: 1.2em;
}
.row-user-image{
  max-height: 50px;
}

.row-product-image{
  max-height: 50px; 
}

.row-user-image-container{
  text-align: center;
}

#sort-container{
  position: fixed;
  top: 200px;
  left: 0px;
}

