<% case @agent %>
<% when "chrome" %>
  <h4 class="center-text">ADDING THE SOONMINE BUTTON TO GOOGLE CHROME</h4>
  <ol>
    <li>
      Make sure the bookmarks bar is showing.  If it is not visible, click on "View > Always Show Bookmarks Bar."
    </li>
    <br/>
    <li>
      Drag the soonmine button to your bookmarks bar.
    </li>
    <br/>
    <li>
      Click the soonmine button on any shopping site to save a product to your soonmine list.
    </li>
  </ol>
<% when "firefox" %>
  <h4 class="center-text">ADDING THE SOONMINE BUTTON TO FIREFOX</h4>
  <ol>
    <li>
      Make sure the bookmarks bar is showing.  If it is not visible, click on "View > Always Show Bookmarks Bar."
    </li>
    <br/>
    <li>
      Drag the soonmine button to your bookmarks bar.
    </li>
    <br/>
    <li>
      Click the soonmine button on any shopping site to save a product to your soonmine list.
    </li>
  </ol>
<% when "other" %>
  <h4> PLEASE USE SOONMINE WITH FIREFOX OR CHROME </h4>
<% end %>