<% case @agent %>
<% when "chrome" %>
  <p>
    *Be sure to activate your bookmarks bar by clicking View at the top of your screen, then click Always Show Booksmark Bar.
  </p>
<% when "firefox" %>
  <p>
    *Be sure to activate your bookmarks bar by clicking view at the top of your screen, then click Toolbars and be sure there is a checkmark beside Bookmarks Toolbar.
  </p>
<% when "other" %>
  <p>
    *Be sure to activate your bookmarks bar by clicking view at the top of your screen, then click Show Bookmark Bar.
  </p>
<% end %>

