<% case @agent %>
<% when "chrome" %>
  <h4 class="center-text">ADDING THE SOONMINE BUTTON TO GOOGLE CHROME</h4>
  <ol>
    <li>
      First, drag the soonmine button below to your bookmark bar.     
    </li>
    <br/>
    <li>
      <p>
        Then, when you find a product you want at any online store, click the soonmine button to add the product to your list."
      </p>
    </li> 
  </ol>
<% when "firefox" %>
  <h4 class="center-text">ADDING THE SOONMINE BUTTON TO FIREFOX</h4>
  <ol>
    <li>
      First, drag the soonmine button below to your bookmark bar.     
    </li>
    <br/>
    <li>
      <p>
        Then, when you find a product you want at any online store, click the soonmine button to add the product to your list."
      </p>
    </li> 
  </ol>
<% when "other" %>
  <h4> PLEASE USE SOONMINE WITH FIREFOX OR CHROME </h4>
<% end %>

