<div class="row">
  <div class="row">
    <div class="row center-text">
      <h2>Settings</h2>
    </div>


    <div class="large-5 large-centered columns edit-product-block">
      <%= render "form" %>
    </div>
  </div>
</div>
