<div class="row">
  <div class="row">
    <div class="row center-text">
      <h2>Add a Product</h2>
    </div>
    <div class="row center-text">
      Drag me to your Bookmarks Bar
      <a href="javascript:void((function(){var interfaceContent = &#34;<iframe src='http://bm-soonmine.herokuapp.com?haderach=<%= current_user.primary_list.id %>' height='400' width='500' id='sm-iframe' style='position: fixed; top: 20; right: 20; background: white; z-index: 999999'></iframe>;&#34;;var interfaceContainer = document.createElement('div');interfaceContainer.id = 'sm-bookmarklet';interfaceContainer.innerHTML = interfaceContent;document.getElementsByTagName('body')[0].appendChild(interfaceContainer);var e = document.createElement('script');e.setAttribute('src', 'http://bm-soonmine.herokuapp.com/default_scraper.js');setTimeout(function(){document.body.appendChild(e)}, 1000);}()));" 
      onclick="return false"
      class="button expand">SoonMine</a>
    </div>
    <div class="large-5 large-centered columns new-product-block">
      <%= render "form" %>
    </div>
  </div>
</div>
