<div class="row">
  <div class="large-centered large-10 columns add-products-wrap">
    <h2 class="static-heading">
      Add Products
    </h2>
    <div class="row">
    	<div class="large-centered large-9 columns center-text intro-text" style="margin-bottom: 50px;">
	    First, drag the soonmine button below to your bookmark bar.*
	    <br/>
	    Then, when you find a product you want at any online store
	    <br/>
	    click the soonmine button to add the product to your list.
	    </div>
	</div>
  </div>
</div>
</div>
<div class="row center-text">
  <div class="large-6 large-centered columns">
    <a href="javascript:void((function(){var closeContent = &#34;var closeBm = function(){document.getElementById('sm-bookmarklet').remove()}&#34;;var interfaceContent = &#34;<div style='position: fixed; top: 20px; left: 25%; background: #ffffff; z-index: 999999; width: 600px; height: 350px; padding-top: 15px; text-align:center; margin-left:-2px; border:2px solid #ababab;'><img src='http://soonmine.herokuapp.com/assets/logo@2x.png' width='145' style='margin-left: 80px;'><a href= '#' onclick='closeBm()' style='float: right; color: #558ccf; font-size: 24px; padding-right: 20px;'><img src='http://soonmine.herokuapp.com/assets/close@2x.png' width='30'></a></div><iframe src='http://bm-soonmine.herokuapp.com?haderach=<%= current_user.id %>' id='sm-iframe' style='position: fixed; top: 83px; left: 25%; background: white; z-index: 999999; border: none; width:600px; height: 305px;'></iframe>;&#34;;var interfaceContainer = document.createElement('div');interfaceContainer.id = 'sm-bookmarklet';interfaceContainer.innerHTML = interfaceContent;document.getElementsByTagName('body')[0].appendChild(interfaceContainer);var e = document.createElement('script');e.setAttribute('src', 'http://bm-soonmine.herokuapp.com/default_scraper.js');var c = document.createElement('script');c.innerHTML = closeContent; document.body.appendChild(c);setTimeout(function(){document.body.appendChild(e)}, 1000);}()));" 
    onclick="return false"
    class="button add-product-button">SOONMINE</a>
  </div>
</div>
<div class="row">
  <div class="large-6 columns text-center large-centered">
    <%= render "instructions" %>
  </div>
</div>


<!-- <div class="large-5 large-centered columns new-product-block"> -->
  <%#= render "form" %>
<!-- </div> -->




